/* Global */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.logo {
    width: 92px;
    height: 85px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #8b8580;
    width: 100%;
    height: 100px;
    position: fixed; 
    top: 0;
    z-index: 1000;
}


.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1a1a1a;
    position: relative;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0; 
    height: 2px;
    background-color: #fbff00; 
    transition: width 0.3s ease; 
}

.navbar a:hover::after {
    width: 100%; 
}



.navbar p {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin: auto;
}

.login {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: rgb(139, 139, 139);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    background-color: #1F1E21;
    cursor: pointer;
}




.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: italic;
}

.quote {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.red-line {
    width: 90%;
    margin: 10px auto;
    border: 2px solid red;
    border-radius: 20px;
}


.subtext {
    font-size: 20px;
    margin-bottom: 20px;
}

.travel-button {
    padding: 20px 40px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    background-color: #1F1E21;
    border: none;
    cursor: pointer;
}


.content {
    padding: 20px;
    background-color: #1F1E21;
    color: white;
    margin-top: 100vh;
    z-index: 1;
    position: relative;
    height: 2300px;
}

.content p {
    text-align: center;
}

.titleContent, p {
    text-align: center;
    margin-top: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.redLineContent {
    width: 10%;
    margin: 5px auto;
    border: 2px solid red;
    border-radius: 20px;
}

.destaques {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.item {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    background-size: cover;
    background-position: center;
    transition: transform .2s; 
}

.item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.item:hover {
    transform: scale(1.1);
}

.item h1, .item p {
    z-index: 2;
    position: relative;
    margin: 40px;
}


.item1 {
    background-image: url('../imgs/machu.jpg');
}

.item2 {
    background-image: url('../imgs/Basilica.jpg');
}

.item3 {
    background-image: url('../imgs/sidney.jpg');
}

.item4 {
    background-image: url('../imgs/pagode.jpg');
}

.item5 {
    background-image: url('../imgs/machu.jpg');
}

.item6 {
    background-image: url('../imgs/burjKhalifa.jpg');
}

.item7 {
    background-image: url('../imgs/fushimi\ inari.jpg');
}

.item8 {
    background-image: url('../imgs/elateno.jpg');
}

.item9 {
    background-image: url('../imgs/grandeMuralha.jpg');
}


h2 {
    color: red;
    font-size: 40px;
}

.line {
    width: 45%;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 20px;
}

.posts {
    padding: 50px;
    margin-bottom: 10px;
}

.post {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-img {
    flex-shrink: 0;
}

.post-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
}

.post-content {
    margin-left: 20px;
}

.post-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.post-description {
    font-size: 20px;
    color: #bbb;
    max-width: 500px;
}

.grayline {
    width: 40%;
    height: 1px;
    background-color: #aaa;
    margin: 20px 0;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px; 
}

.posts, .teste {
    flex: 1;
   
}

.teste {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
}

.profile-img img {
    position: relative;
    top: 25%;
    left: 40%;
    justify-content: cente;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 80px;
}

.description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #dbdbdb;
}

.social-icons {
    justify-content: center;
    display: flex;
    gap: 60px; 
    margin-top: 20px;
    
}

.social-icons a img {
    border: 1px solid white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.description h2 ,p{
    text-align: left;
    letter-spacing: 2px;
    color: white;
}
.lineFooter {
    width: 25%;
    height: 2px;
    background-color: #ff0000;
    margin: 5px 0;
}